/*-------------
-- BUTTONS
---------------*/

.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: $gray-400;
  border: 2px solid $gray-400;
  color: $gray-800;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  font-weight: 600;

  transition: all ease-in-out 200ms;

  &:hover {
    text-decoration: none;
    background-color: $gray-500;
    border: 2px solid $gray-500;
    color: $gray-900;
  }
  &:active {
    text-decoration: none;
    background-color: $gray-600;
    border: 2px solid $gray-600;
    color: $gray-900;
  }
}


.btn-outline{
  @extend .btn;
  background-color: transparent;
  color: $gray-500;

  &:hover {
    text-decoration: none;
    background-color: $gray-200;
    //border: 2px solid $gray-200;
    //color: $gray-500;
  }
  &:active {
    text-decoration: none;
    background-color: $gray-300;
    //border: 2px solid $gray-300;
    //color: $gray-500;
  }
}

.btn-outline__green{
  @extend .btn;
  background-color: transparent;
  color: $gray-500;
  border: 2px solid $green-200;
  color: $green-500 ;

  &:hover {
    text-decoration: none;
    background-color: $green-200;
    border: 2px solid $green-200;
    color: $green-500;
  }
  &:active {
    text-decoration: none;
    background-color: $green-300;
    border: 2px solid $green-300;
    color: $green-500;
  }
}


.plus-icon{
  &::before{
    position: absolute;
    content: "+";
    font-size: .8rem;
    line-height: .9rem ;
    width: .9rem;
    height: .9rem;
    background-color: $gray-400;
    border-radius: 50px;
    border: 2p;
    top : -30%;
    left: -9%;
    color:white;
    //border: 2px solid $gray-400;
  }
}

.plus-icon__green{
  &::before{
    position: absolute;
    content: "+";
    font-size: .8rem;
    line-height: .9rem ;
    width: .9rem;
    height: .9rem;
    background-color: $green-400;
    border-radius: 50px;
    border: 2p;
    top : -30%;
    left: -9%;
    color:white;
    //border: 2px solid $green-400;
  }
}
