@import "normalize";

body {
  font-family: "Epilogue", sans-serif;
}

.choice-btn__del {
  font-size: 0.7rem;
  position: absolute;
  top: 3px;
  left: 3px;
  cursor: pointer;
  transition: all 300ms;
  color: transparent;
}

.choice:hover > .choice-btn__del {
  color: red;
}

.factor.cell {
  min-width: 15rem;
}

.factor-btn__del {
  font-size: 0.7rem;
  position: absolute;
  top: 3px;
  left: 3px;
  cursor: pointer;
  transition: all 300ms;
  color: transparent;
}

.factor:hover > .btn-del,
.choice:hover > .btn-del {
  color: red;
}

.factor,
.choice {
  position: relative;
}

.table th,
.table td {
  padding: 2rem;
}

#addFactor-btn,
#addChoice-btn {
  font-size: 80%;
  cursor: pointer;
  color: #6c757d;
}

/*-------------
-- FONTS
---------------*/

.choice,
.factor {
  font-weight: 600;
}

.factor {
  text-align: left;
}

.choice {
  text-align: center;
}

.rate {
  text-align: center;
  color: #bdbdbd;
}

/*-------------
-- LAYOUT
---------------*/
.wrapper-body {
  background-color: #f1f1f1;
}

.wrapper {
  overflow: auto;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem;
  white-space: nowrap;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

/*-------------
-- TABLE
---------------*/

table {
  border-spacing: 1.1rem;
  border-collapse: separate;
}

tbody tr td {
  border-bottom: 2px dotted #e0e0e0;
}
tbody tr:nth-child(1) td {
  border-bottom: inherit;
}
tbody tr:nth-child(2) td {
  border-bottom: 2px solid #e0e0e0;
}
tbody tr:last-child td {
  border-bottom: inherit;
}

/*-------------
-- COMPONENTS
---------------*/

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;

  cursor: pointer;
  user-select: none;
  transition: all ease-in-out 300ms;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: transparent;
}
.btn:hover {
  text-decoration: none;
}

/*-------------
-- SCORE
---------------*/

.score {
  &__content {
    line-height: 2rem;
    position: relative;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    color: white;

    &::before {
      font-weight: bold;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
      content: "";
      border-radius: 50px;
      background-color: #c6f6d5;
    }
  }
}
