@import "normalize";
@import "variables";
@import "colors";
@import "backgrounds";
@import "buttons";

/* space-grotesk-regular - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-grotesk-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/space-grotesk-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/space-grotesk-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/space-grotesk-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/space-grotesk-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/space-grotesk-v1-latin-regular.svg#SpaceGrotesk') format('svg'); /* Legacy iOS */
}

/* space-grotesk-700 - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-grotesk-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/space-grotesk-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/space-grotesk-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/space-grotesk-v1-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/space-grotesk-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/space-grotesk-v1-latin-700.svg#SpaceGrotesk') format('svg'); /* Legacy iOS */
}



body {
  font-family: "Space Grotesk", sans-serif;
}

.btn-del {
  position: absolute;
  top: 2%;
  left: 10%;
  cursor: pointer;
  @extend .btn-outline__red;
  @extend .minus-icon__red;
  font-size: 0.625rem;
  display: none;
}

.factor:hover > .btn-del,
.choice:hover > .btn-del {
  display: inline-block;
}

.factor,
.choice {
  position: relative;
}

.table th,
.table td {
  padding: 2rem;
}

/*-------------
-- FONTS
---------------*/

.factor {
  text-align: left;
  font-size: 0.875rem;
}

.choice {
  text-align: center;
  font-size: 0.875rem;
}

.rate {
  text-align: center;
  color: #bdbdbd;
}

/*-------------
-- LAYOUT
---------------*/
body {
  background-color: $gray;
}

.wrapper-body {
  padding: 0 1rem;
  height: 100%;
}

.wrapper-app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 1rem;
  overflow: auto;
  max-width: 1440px;
  margin: 0 auto;
  white-space: nowrap;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title-container {
  max-width: 1440px;
  font-size: 3rem;
  margin: 0 auto;
  padding: 1rem 3rem;
  border-radius: 1rem;
  overflow: auto;
  max-width: 1440px;
  margin: 0 auto;
  white-space: nowrap;
}

.result-container {
  max-width: 1440px;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  overflow: auto;
  max-width: 1440px;
  margin: 0 auto;
  white-space: nowrap;
}

.title{
  margin-bottom:  2rem;
  color: $yellow-500;
}

.result-content{
  color: $green-500;
}

.p{
  font-size: 1rem;
}

.__muted{
  color: $gray-700;
}

/*-------------
-- TABLE
---------------*/

table {
  border-collapse: separate;
  border-spacing: 1.1rem;
  border-collapse: separate;
}

tbody tr td {
  border-bottom: 2px dotted #e0e0e0;
}
tbody tr:nth-child(1) td {
  border-bottom: inherit;
}
tbody tr:nth-child(2) td {
  border-bottom: 2px solid #e0e0e0;
}
tbody tr:last-child td {
  border-bottom: inherit;
}

/*-------------
-- COMPONENTS
---------------*/

#addFactor-btn,
#addChoice-btn {
  //@extend .btn;
  @extend .btn-outline__green;
  @extend .plus-icon__green;
  font-size: 0.625rem;
  cursor: pointer;
}

/*-------------
-- SCORE
---------------*/

.score {
  &__content {
    line-height: 2rem;
    position: relative;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    color: white;

    &::before {
      font-weight: bold;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
      content: "";
      border-radius: 50px;
      background-color: #c6f6d5;
    }
  }
}
